<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18D109</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>coplugin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PluginDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Capture One Plugin</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.phaseone.captureone.plugin</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cocatalog</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>CatalogDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Capture One Catalog</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fslb</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.phaseone.captureone.catalog</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Movie File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cop</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ProxyDocumentIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Capture One Proxy</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cof</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>FocusDocumentIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Capture One Focus</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cos</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SettingsDocumentIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Capture One Settings</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lcc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LCCDocumentIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Lens Cast Correction</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XMD document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cosessiondb</string>
				<string>col50</string>
				<string>col60</string>
				<string>col</string>
				<string>col45</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SessionDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Capture One Session</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Coli</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.phaseone.captureone.session</string>
			</array>
			<key>NSDocumentClass</key>
			<string>SessionDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>SQLite</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cocatalogdb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>CatalogDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Capture One Catalog Database</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.phaseone.captureone.catalogdb</string>
			</array>
			<key>NSDocumentClass</key>
			<string>CatalogDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fcrv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>FilmCurveDocumentIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Film curve</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FCrv</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tif</string>
				<string>tiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TIFF image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TIFF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tiff</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpg</string>
				<string>jpeg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JPEG image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JPEG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>raw</string>
				<string>capture</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>CaptureDocumentIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Raw capture</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RawC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>crw</string>
				<string>cr2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Canon RAW image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CRAW</string>
				<string>CRAW2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nrw</string>
				<string>nef</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Nikon RAW image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>NEF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mrw</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Konica Minolta RAW image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pef</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Pentax RAW image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>orf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Olympus RAW image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rw2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Panasonic Raw 2 image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>raf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Fujifilm RAW image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>costyle</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>StyleDocumentIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Style</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Styl</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>eip</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>EIPDocumentIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Phase One Enhanced Image Package</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.phaseone.packaged-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>iiq</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IIQDocumentIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Phase One RAW image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.phaseone.raw-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mos</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MOSDocumentIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Leaf RAW image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.leafamerica.raw-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dng</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Adobe RAW image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>DNG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cocatalogtemplate</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>CatalogTemplateIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Capture One Catalog Template</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cosessiontemplate</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SessionTemplateIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Capture One Session Template</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mef</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Mamiya RAW image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>erf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Epson RAW image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rwl</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Leica RAW image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>srw</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Samsung RAW image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>arw</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Sony RAW image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>costylepack</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>StylePackDocumentIcon</string>
			<key>CFBundleTypeName</key>
			<string>Capture One Style Package</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Capture One 12</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.phaseone.captureone12</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Capture One 12</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>12.1.0.150</string>
	<key>CFBundleSignature</key>
	<string>C1PR</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>12.1.0.150</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10B61</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>18B71</string>
	<key>DTSDKName</key>
	<string>macosx10.14</string>
	<key>DTXcode</key>
	<string>1010</string>
	<key>DTXcodeBuild</key>
	<string>10B61</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.12</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>Capture One sometimes requires control of other applications indirectly for scripts that you run within it.</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSCalendarsUsageDescription</key>
	<string>Capture One doesn’t need access to your Calendar. This alert is caused by accessing your Library folder.</string>
	<key>NSContactsUsageDescription</key>
	<string>Capture One doesn’t need access to your Contacts. This alert is caused by accessing your Library folder.</string>
	<key>NSHumanReadableCopyright</key>
	<string>©1995-2019, Phase One A/S. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Capture One doesn’t need access to your Photo Library. This alert is caused by accessing your Library folder.</string>
	<key>NSPrincipalClass</key>
	<string>Application</string>
	<key>NSRemindersUsageDescription</key>
	<string>Capture One doesn’t need access to your Reminders. This alert is caused by accessing your Library folder.</string>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>OSAScriptingDefinition</key>
	<string>CaptureOne.sdef</string>
	<key>PhaseOneBuildAboutBranchName</key>
	<string></string>
	<key>PhaseOneBuildAboutPlanName</key>
	<string>12.1.0</string>
	<key>PhaseOneBuildBranchName</key>
	<string>release/12.1.0</string>
	<key>PhaseOneBuildCommitId</key>
	<string>608b6df9eabcd1bd2039e0d95fb7730d8b9d1ef6</string>
	<key>PhaseOneBuildDate</key>
	<string>2019-06-03T15:42:44.338+02:00</string>
	<key>PhaseOneBuildNumber</key>
	<string>150</string>
	<key>PhaseOneBuildProductVersion</key>
	<string>12.1.0</string>
	<key>RecipesFolderVersion</key>
	<string>120</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.composite-content</string>
				<string>com.apple.package</string>
				<string>com.pkware.zip-archive</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.phaseone.captureone.plugin</string>
			<key>UTTypeReferenceURL</key>
			<string>http://phaseone.com/captureone</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>coplugin</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.camera-raw-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Phase One Enhanced Image Package</string>
			<key>UTTypeIdentifier</key>
			<string>com.phaseone.packaged-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>eip</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.camera-raw-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Phase One RAW image</string>
			<key>UTTypeIdentifier</key>
			<string>com.phaseone.raw-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>iiq</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.composite-content</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.phaseone.captureone.catalog</string>
			<key>UTTypeReferenceURL</key>
			<string>http://phaseone.com/captureone</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cocatalog</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
				<string>public.database</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.phaseone.captureone.catalogdb</string>
			<key>UTTypeReferenceURL</key>
			<string>http://phaseone.com/captureone</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cocatalogdb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
				<string>public.database</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.phaseone.captureone.session</string>
			<key>UTTypeReferenceURL</key>
			<string>http://phaseone.com/captureone</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cosessiondb</string>
					<string>col50</string>
					<string>col60</string>
					<string>col</string>
					<string>col45</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
