<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17G65</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpcatalog</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Media Pro Catalog</string>
			<key>CFBundleTypeName</key>
			<string>Phase One Media Pro Catalog</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>P1MP</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ivc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft Expression Media 2 Catalog</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IVWc</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>MPCore</string>
	<key>CFBundleGetInfoString</key>
	<string>©2018 Phase One A/S. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.phaseone.mediaprotool</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.1</string>
	<key>CFBundleSignature</key>
	<string>P1MC</string>
	<key>CFBundleVersion</key>
	<string>2.3.1</string>
	<key>DTCompiler</key>
	<string>4.2</string>
	<key>DTPlatformBuild</key>
	<string>6E35b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>10M2423</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0640</string>
	<key>DTXcodeBuild</key>
	<string>6E35b</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>©2018 Phase One A/S. All rights reserved.</string>
</dict>
</plist>
