<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<string>#BUILD_NUMBER#</string>
	<key>CFBundleShortVersionString</key>
	<string>${VERSION_NUMBER}</string>
	<key>NSHumanReadableCopyright</key>
	<string>©1995-2016, Phase One A/S. All rights reserved.</string>
	<key>URL</key>
	<string>http://updates.phaseone.com/shipping/mac_captureone4_version.xml</string>
	<key>Version</key>
	<string>${VERSION_NUMBER}</string>
</dict>
</plist>
