<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoAdjustExposure</key>
	<true/>
	<key>AutoAdjustHighDynamicRange</key>
	<true/>
	<key>AutoAdjustWhiteBalance</key>
	<false/>
	<key>AutoAdjustLevels</key>
	<true/>
	<key>AutoAdjustRotation</key>
	<false/>
	<key>AutoAdjustKeystone</key>
	<false/>
	<key>AutoAdjustContrastBrightness</key>
	<false/>
	<key>annotationCurrentColor</key>
	<integer>2</integer>
	<key>annotationBrushSize</key>
	<integer>12</integer>
	<key>annotationEraserSize</key>
	<integer>12</integer>
	<key>annotationTextFont</key>
	<string>12</string>
	<key>AutoCropPadding</key>
	<integer>0</integer>
	<key>CaptureExtension</key>
	<integer>1</integer>
	<key>CaptureProviders</key>
	<integer>123</integer>
	<key>CaptureShutterAdjustmentDirectionInverted</key>
	<false/>
	<key>CaptureApertureAdjustmentDirectionInverted</key>
	<false/>
	<key>ShowResolutionRuler</key>
	<true/>
	<key>ResolutionRulerLengthUnit</key>
	<integer>0</integer>
	<key>ResolutionRulerResolutionUnit</key>
	<integer>0</integer>
	<key>renderingIntent</key>
	<integer>0</integer>
	<key>highlightColorCorrections</key>
	<false/>
	<key>colorWheelLayout</key>
	<integer>0</integer>
	<key>CropMaskShow</key>
	<integer>0</integer>
	<key>CropMaskOpacity</key>
	<real>0.5</real>
	<key>CropMaskBrightness</key>
	<integer>0</integer>
	<key>CropFrameShow</key>
	<integer>1</integer>
	<key>CropLabelsShow</key>
	<integer>0</integer>
	<key>GridType</key>
	<integer>1</integer>
	<key>GridShowOption</key>
	<integer>2</integer>
	<key>GridFollowCrop</key>
	<true/>
	<key>GridColor</key>
	<string>{ &quot;red&quot;: 1, &quot;green&quot;: 1, &quot;blue&quot;: 1, &quot;alpha&quot;: 1 }</string>
	<key>GridLongEdge</key>
	<integer>3</integer>
	<key>GridShortEdge</key>
	<integer>3</integer>
	<key>GridMirror</key>
	<false/>
	<key>GridClockwise</key>
	<false/>
	<key>HighlightWarningLevel</key>
	<integer>250</integer>
	<key>ShadowWarningEnabled</key>
	<false/>
	<key>ShadowWarningLevel</key>
	<integer>0</integer>
	<key>ExposureWarningsEnabled</key>
	<false/>
	<key>PickTargetsEnabled</key>
	<false/>
	<key>ShadowsTargetLevel</key>
	<integer>0</integer>
	<key>HighlightsTargetLevel</key>
	<integer>255</integer>
	<key>ShadowsClippingThreshold</key>
	<real>0.1</real>
	<key>HighlightsClippingThreshold</key>
	<real>0.1</real>
	<key>AutoAdjustMode</key>
	<integer>0</integer>
	<key>HighlightWarningColorString</key>
	<string>{ &quot;name&quot;: &quot;red&quot; }</string>
	<key>ShadowWarningColorString</key>
	<string>{ &quot;name&quot;: &quot;blue&quot; }</string>
	<key>FocusMaskShow</key>
	<false/>
	<key>FocusMaskColorString</key>
	<string>{ &quot;name&quot;: &quot;green&quot; }</string>
	<key>FocusMaskOpacity</key>
	<real>0.4</real>
	<key>FocusMaskThreshold</key>
	<integer>250</integer>
	<key>ZoomWithScrollWheel</key>
	<true/>
	<key>NewSessionCreatesNewWindow</key>
	<false/>
	<key>VerifyDatabaseOnOpen</key>
	<true/>
	<key>AutostartImporterOnMount</key>
	<true/>
	<key>AutoShowActivities</key>
	<true/>
	<key>TangentDeviceSupportEnableDefaultsKey</key>
	<true/>
	<key>OverwritingMetadata</key>
	<integer>0</integer>
	<key>CreateAlbumsFromCatalogs</key>
	<integer>0</integer>
	<key>AddPreviousCollectionAsFavorite</key>
	<integer>0</integer>
	<key>OpenSubFoldersWithXM</key>
	<integer>0</integer>
	<key>UseOpenCL3</key>
	<true/>
	<key>UseOpenCLForProcessing3</key>
	<true/>
	<key>UsecoreConfigClassic</key>
	<true/>
	<key>NewRecentCapturesCollectionAfterTime</key>
	<integer>60</integer>
	<key>BackupCatalogAfterTime</key>
	<integer>604800</integer>
	<key>VerifyCatalogBeforeBackup</key>
	<true/>
	<key>OptimizeCatalogBeforeBackup</key>
	<true/>
	<key>BrowserGridViewZoomKey</key>
	<integer>25</integer>
	<key>BrowserListViewZoomKey</key>
	<integer>25</integer>
</dict>
</plist>
