<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Editable</key>
	<false/>
	<key>VersionNumber</key>
	<string>10.2.0</string>
	<key>KeyboardShortcuts</key>
	<dict>
		<key>Watermark</key>
		<string>h</string>
		<key>applyAdjustments:</key>
		<string>$@v</string>
		<key>exportSelectedOriginals:</key>
		<string>$@e</string>
		<key>increaseSaturation:</key>
		<string>^~@+</string>
		<key>clearCompareVariant:</key>
		<string>@</string>
		<key>setColorTag0:</key>
		<string>6</string>
		<key>lessHardness:</key>
		<string>$ü</string>
		<key>addVerticalGuide:</key>
		<string>.</string>
		<key>GradientMask</key>
		<string>g</string>
		<key>toggleBrowserPosition:</key>
		<string>$@b</string>
		<key>RotateRight</key>
		<string>r</string>
		<key>selectBrowserZoomL:</key>
		<string>$ß</string>
		<key>selectByRating2:</key>
		<string>@2</string>
		<key>rate5:</key>
		<string>5</string>
		<key>KeyStoneVertical</key>
		<string>k</string>
		<key>cloneVariant:</key>
		<string></string>
		<key>resetRenameCounter:</key>
		<string></string>
		<key>increaseWBTint:</key>
		<string>$@+</string>
		<key>RadialMask</key>
		<string>t</string>
		<key>selectByColorTag4:</key>
		<string>@7</string>
		<key>toggleToolsDisplayStateShown:</key>
		<string>@t</string>
		<key>performZoom:</key>
		<string>^@z</string>
		<key>toggleBrowserDisplayStateAuto:</key>
		<string>~@b</string>
		<key>resetImportCounter:</key>
		<string></string>
		<key>import:</key>
		<string>@i</string>
		<key>showHelpGeneral:</key>
		<string></string>
		<key>selectBySameVariantPosition:</key>
		<string></string>
		<key>ZoomIn</key>
		<string>z</string>
		<key>Trash</key>
		<string>v</string>
		<key>toggleRecipeProofing:</key>
		<string>@-</string>
		<key>DrawMask</key>
		<string>b</string>
		<key>Pan</key>
		<string>h</string>
		<key>rate0:</key>
		<string>0</string>
		<key>toggleShowGrid:</key>
		<string>@g</string>
		<key>selectByRating4:</key>
		<string>@4</string>
		<key>batchRenameImages:</key>
		<string></string>
		<key>RotateFreeHand</key>
		<string>r</string>
		<key>autoSelectsNewCaptureNever:</key>
		<string>p</string>
		<key>biggerBrush:</key>
		<string>+</string>
		<key>invertLocalAdjustmentMask:</key>
		<string>@ö</string>
		<key>MoveTo</key>
		<string>v</string>
		<key>toggleFocusMaskShow:</key>
		<string>$@g</string>
		<key>setColorTag4:</key>
		<string>7</string>
		<key>resetCaptureCounter:</key>
		<string></string>
		<key>selectTab9:</key>
		<string>~@9</string>
		<key>resetExportCounter:</key>
		<string></string>
		<key>rotateLeft:</key>
		<string>@ü</string>
		<key>deselectAll:</key>
		<string>$@a</string>
		<key>rate2:</key>
		<string>2</string>
		<key>selectTab8:</key>
		<string>~@8</string>
		<key>selectByRating1:</key>
		<string>@1</string>
		<key>process:</key>
		<string>@d</string>
		<key>selectTab7:</key>
		<string>~@7</string>
		<key>selectNextCollection:</key>
		<string>$@</string>
		<key>newVariant:</key>
		<string></string>
		<key>selectTab6:</key>
		<string>~@6</string>
		<key>selectByColorTag0:</key>
		<string>@6</string>
		<key>PickColorCorrection</key>
		<string>o</string>
		<key>PickSkinColorCorrection</key>
		<string>o</string>
		<key>selectTab5:</key>
		<string>~@5</string>
		<key>autoSelectsNewCaptureImmediately:</key>
		<string>@p</string>
		<key>selectTab4:</key>
		<string>~@4</string>
		<key>toggleEditPrimary:</key>
		<string>$@u</string>
		<key>decrementCaptureCounter:</key>
		<string></string>
		<key>rotateSnap:</key>
		<string>~@x</string>
		<key>openFilterDialog:</key>
		<string>$@f</string>
		<key>decreaseWBKelvin:</key>
		<string>$-</string>
		<key>addHorizontalGuide:</key>
		<string>,</string>
		<key>smallerBrush:</key>
		<string>ü</string>
		<key>increaseContrast:</key>
		<string>^$@+</string>
		<key>selectFirst:</key>
		<string></string>
		<key>rate4:</key>
		<string>4</string>
		<key>toggleViewerShown:</key>
		<string>#</string>
		<key>selectNext:</key>
		<string>@</string>
		<key>selectTab2:</key>
		<string>~@2</string>
		<key>ZoomOut</key>
		<string>z</string>
		<key>selectTab1:</key>
		<string>~@1</string>
		<key>selectTab3:</key>
		<string>~@3</string>
		<key>toggleToolsPosition:</key>
		<string>$@t</string>
		<key>decreaseContrast:</key>
		<string>^$@-</string>
		<key>setColorTag3:</key>
		<string>8</string>
		<key>DeleteColorReadout</key>
		<string>x</string>
		<key>decreaseExposure:</key>
		<string>^@-</string>
		<key>Crop</key>
		<string>c</string>
		<key>selectPreviousCollection:</key>
		<string>$@</string>
		<key>resetAdjustments:</key>
		<string>@r</string>
		<key>selectLast:</key>
		<string></string>
		<key>zoomViewer100:</key>
		<string>d</string>
		<key>toggleBrowserDisplayStateShown:</key>
		<string>@b</string>
		<key>rotateRight:</key>
		<string>@+</string>
		<key>PickFocusPoint</key>
		<string>z</string>
		<key>showPrimaryInFinder:</key>
		<string>l</string>
		<key>selectPrevious:</key>
		<string>@</string>
		<key>Select</key>
		<string>v</string>
		<key>toggleFullScreen:</key>
		<string>f</string>
		<key>selectByRating3:</key>
		<string>@3</string>
		<key>selectBrowserZoomS:</key>
		<string>ß</string>
		<key>Straighten</key>
		<string>r</string>
		<key>selectTab10:</key>
		<string>~@0</string>
		<key>moveToFolder:</key>
		<string>@j</string>
		<key>selectNextLocalAdjustmentLayerUp:</key>
		<string>ä</string>
		<key>selectByColorTag3:</key>
		<string>@8</string>
		<key>AddColorReadout</key>
		<string>x</string>
		<key>KeyStoneHorizontal</key>
		<string>k</string>
		<key>KeyStone</key>
		<string>k</string>
		<key>decreaseWBTint:</key>
		<string>$@-</string>
		<key>selectNextLocalAdjustmentLayerDown:</key>
		<string>ö</string>
		<key>showPrimaryVariantInLibrary:</key>
		<string>@l</string>
		<key>PickWhiteBalance</key>
		<string>w</string>
		<key>moreHardness:</key>
		<string>$+</string>
		<key>selectNextPage:</key>
		<string>~</string>
		<key>increaseExposure:</key>
		<string>^@=</string>
		<key>fillLocalAdjustmentMask:</key>
		<string>@ä</string>
		<key>selectByRating0:</key>
		<string>@0</string>
		<key>toggleToolsDisplayStateAuto:</key>
		<string>~@t</string>
		<key>zoomViewerToFit:</key>
		<string>s</string>
		<key>deletePermanently:</key>
		<string>^@</string>
		<key>Loupe</key>
		<string>z</string>
		<key>rate1:</key>
		<string>1</string>
		<key>EraseMask</key>
		<string>e</string>
		<key>capture:</key>
		<string>@k</string>
		<key>setColorTag1:</key>
		<string>9</string>
		<key>syncFolder:</key>
		<string>@s</string>
		<key>selectPreviousPage:</key>
		<string>~</string>
		<key>decreaseSaturation:</key>
		<string>^~@-</string>
		<key>resetOutputCounter:</key>
		<string></string>
		<key>PickLocalWhiteBalance</key>
		<string>w</string>
		<key>copyAdjustments:</key>
		<string>$@c</string>
		<key>selectByColorTag1:</key>
		<string>@9</string>
		<key>addOrRemoveFromFavorites:</key>
		<string>~y</string>
		<key>RotateLeft</key>
		<string>r</string>
		<key>selectByRating5:</key>
		<string>@5</string>
		<key>showGuessPanel:</key>
		<string>@:</string>
		<key>trash:</key>
		<string>@</string>
		<key>rate3:</key>
		<string>3</string>
		<key>Overlay</key>
		<string>h</string>
		<key>setAsCompareVariant:</key>
		<string>$</string>
	</dict>
</dict>
</plist>
