<?xml version="1.0" encoding="utf-8"?>
<TargetSetting Version="2">
  <Brightness Type="Value">
    <Value>120</Value>
  </Brightness>
  <BlackLevel Type="Min"/>
  <WhitePoint Type="Temperature">
    <Temperature>5003</Temperature>
  </WhitePoint>
  <Gamma>
    <Red Type="Formula">
      <Formula>220</Formula>
    </Red>
    <Green Type="Formula">
      <Formula>220</Formula>
    </Green>
    <Blue Type="Formula">
      <Formula>220</Formula>
    </Blue>
  </Gamma>
  <GrayBalance>
    <Type>0</Type>
  </GrayBalance>
  <CreationType>0</CreationType>
  <ProfilePolicy Version="2">
    <UpdateRule Type="Everytime"/>
    <ProfileVersion>2.2</ProfileVersion>
    <ToneCurve>LUT</ToneCurve>
    <ReflectBlackLevels>true</ReflectBlackLevels>
    <Create3DLut>false</Create3DLut>
    <CreateLuminanceTag>true</CreateLuminanceTag>
  </ProfilePolicy>
</TargetSetting>